<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include partials/_header %>


  <p>
    <% if (templateVars.username === undefined) { %>
      To add/edit/remove links you need to login/register.
    <% } else { %>
  <p>
  <h2> My URLs </h2>
    <ul>
      <% for (var url in templateVars.urlDatabase) { %>
      <% if (templateVars.urlDatabase[url]["userID"] === templateVars.username) { %>
      <% var deleteURL = "/urls/" + url + "/delete" %>
      <% var editPath = "/urls/" + url %>
      <% var myURL = url; %>
      <% var link = templateVars.urlDatabase[url]["longURL"]  %>
      <table style="width: 590px">
        <tr>
          <td style="width: 100px"> <%= myURL %> </td>
          <td style="width: 70px"> &#x027FC; </td>
          <td style="width: 280px"> <a href= <%= link %> > <%= link %> </a></td>
          <td style="width: 80px"> <a href= <%= editPath %> > &#x2699 </a></td>
          <td style="width: 80px"> <form class="form-inline" method="POST" action=<%= deleteURL %>><input type="submit" class="btn btn-primary" value="Delete"></form> </td>
        </tr>
        <p>
      </table>
      <% } %>
      <% }; %>
      <% } %>
    </ul>
  </td>
</tr>
</table>
</body>
</html>