<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include partials/_header %>
  <p>
  <a href="/urls/new" >Create New TinyURL</a>
  <p>
  <h2> My URLs </h2>
    <ul>
      <% for (var url in templateVars.urlDatabase) { %>
      <% var deleteURL = "/urls/" + url + "/delete" %>
      <% var editPath = "/urls/" + url %>
      <table style="width: 540px">
        <tr>
          <td style="width: 100px"> <%= url %></td>
          <td style="width: 280px"> <a href= <%= templateVars.urlDatabase[url] %> > <%= templateVars.urlDatabase[url] %> </a></td>
          <td style="width: 80px"> <a href= <%= editPath %> > Edit</a></td>
          <td style="width: 80px"> <form class="form-inline" method="POST" action=<%= deleteURL %>><input type="submit" class="btn btn-primary" value="Delete"></form> </td>
        </tr>
        <p>
      </table>
      <% }; %>
    </ul>
  </td>
</tr>
</table>
</body>
</html>